body{
	background-color: #F5F5F5;
	font-family: 'IBM Plex Sans',sans-serif;
}

.datatable{
	background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 3px #ccc;
}

table{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

thead, tbody{
	display: block;
	width: 100%;
}

.fixed-header tbody{
	max-height: 300px;
    overflow-y: auto;
}

tr{
	display: block;
}

th, td{
	width: calc( 20% - 1em);
	display: block;
	position: relative;
	padding: 1em 0.5em;
	float: left;
}

table > thead > tr > th{
	border-bottom: 1px solid black;
	display: block;
	cursor: pointer;
	background-color: #633ea5;
	color: #FFF;
    font-weight: 500;
    text-transform: capitalize;
}

table > thead > tr > th > img{
	width: 10px;
    right: 10px;
    position: absolute;
    top: 20px;
}

table > thead > tr > th > i{
    position: absolute;
    right: 25px;
    font-size: 9px;
    top: 18px;
    background: #FFF;
    width: 10px;
    height: 10px;
    padding: 2px;
    border-radius: 100%;
    color: #633ea5;
    font-style: normal;
    text-align: center;
}

table > thead> tr.filter-row > td{
	border-bottom: 1px solid #000;
	display: block;
	height: 30px;
}

table > thead> tr.filter-row > td > input{
	height: 30px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 0 0.5em;
	width: 70%;
    outline-color: rgba(99, 62, 165, 0.1);
}

table > tbody td{
	min-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

table > tbody > tr:nth-of-type(even) > td{
    background-color: rgba(99, 62, 165, 0.1);
}

.pagination-container{
	display: flex;
}

.pagination-container > p{
    display: inline-flex;
    width: auto;
    padding: 0 0.5em;
}

ul.pagination-control{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    padding: 0 0.5em;
}

ul.pagination-control > li {
    display: inline;
    padding: 0.5em 1em;
    cursor: pointer;
}

ul.pagination-control > li:hover {
    background-color: #EEE;
    border-radius: 3px;
}

ul.pagination-control > li.active {
    background-color: #633ea5;
    color: #fff;
    border-radius: 3px;
}